<!DOCTYPE html>
<html>
   <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <title>Local Doco</title>
   </head>
     <link rel="stylesheet" type="text/css" href="../css/styles.css" media="screen" />
 
   <body>
    <div id='cssmenu'>
      <ul>
         <li class='active'><a href='#'><span>HUNTS</span></a></li>
         <li class='last'><a href='#'><span>ADD</span></a></li>
      </ul>
    </div>

    <ul id="rounded-list">
      <div class="status"></div>
      <li><a href=""><h2 class="accordion-toggle">List item</h2><div class="accordion-content default">
    <p>Cras malesuada ultrices augue molestie risus.</p>
  </div></a></li>
      <li><a href=""><h2 class="accordion-toggle">List item</h2><div class="accordion-content default">
    <p>Cras malesuada ultrices augue molestie risus.</p>
  </div></a></li><li><a href=""><h2 class="accordion-toggle">List item</h2><div class="accordion-content default">
    <p>Cras malesuada ultrices augue molestie risus.</p>
  </div></a></li><li><a href=""><h2 class="accordion-toggle">List item</h2><div class="accordion-content default">
    <p>Cras malesuada ultrices augue molestie risus.</p>
  </div></a></li><li><a href=""><h2 class="accordion-toggle">List item</h2><div class="accordion-content default">
    <p>Cras malesuada ultrices augue molestie risus.</p>
  </div></a></li>
    </ul>
     
   </body>
  <script type="text/javascript">
  $(document).ready(function($) {
    $('#rounded-list').find('.accordion-toggle').click(function(){

      //Expand or collapse this panel
      $(this).next().slideToggle('fast');

      //Hide the other panels
      $(".accordion-content").not($(this).next()).slideUp('fast');

    });
  });
</script>
</html>
