<!DOCTYPE html>
<html>
   <head>
      <title>Local Doco</title>
   </head>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
   <script src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>
	 <script src="index.js" type="text/javascript"></script>
   <link rel="stylesheet" type="text/css" href="css/styles.css" media="screen" />
   <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,300italic,600' rel='stylesheet' type='text/css'>
   <body id="bg-land">

      <div class="signin">
      	<img class="logo" src="img/logo.png">
      	<h3>Please sign in with <img class="fb" src="img/fb.png">
      	to create a new adventure.</h3>
      	<button class="login" id="login" type="button">Log in with <img class="fb" src="img/fb.png"></button>

      </div>

      <div id="create">
        <div class="title">
          <h3>Create a new adventure for others</h3>
        </div>
        <div class="form">
            <form>
              <input type="text" id="huntName" placeholder="Hunt Name" />
              <input type="text" id="desc" size="75" placeholder="Description" />
              <div id="dynamicInput">
              <br><input type="text" class="item" size="75" placeholder="Item 1">
              <input class="addMore" id="addItem" type="button" value="Add More Items">
            </div>  <input class="create" type="button" id="submitHunt" value="Create" />
            </form>
        </div>
      </div>

      <div id="huntsList">
      <ul id="rounded-list">
        <div class="status"></div>
            <li><a href=""><h2 class="accordion-toggle">Hunt item</h2><div class="accordion-content default">
          <p>Cras malesuada ultrices augue molestie risus.</p>
        </div></a></li>
            <li><a href=""><h2 class="accordion-toggle">Hunt item</h2><div class="accordion-content default">
          <p>Cras malesuada ultrices augue molestie risus.</p>
        </div></a></li><li><a href=""><h2 class="accordion-toggle">Hunt item</h2><div class="accordion-content default">
          <p>Cras malesuada ultrices augue molestie risus.</p>
        </div></a></li><li><a href=""><h2 class="accordion-toggle">Hunt item</h2><div class="accordion-content default">
          <p>Cras malesuada ultrices augue molestie risus.</p>
        </div></a></li><li><a href=""><h2 class="accordion-toggle">Hunt item</h2><div class="accordion-content default">
          <p>Cras malesuada ultrices augue molestie risus.</p>
        </div></a></li>
      </ul>
      </div>
      <footer>
  <p>Created for Dubhacks 2015.</p>
</footer>
   </body>
</html>
