<!DOCTYPE html>
	<head>
		<title>Loco Doco</title>
		<meta name="viewport" content="width=device-width">

        <!-- Fonts  -->

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
		

        <!-- Stylesheets  -->
		
		<link rel="stylesheet" type="text/css" href="css/base.css">
		<link rel="stylesheet" type="text/css" href="css/itemprofile.css">

		<!-- Scripts  -->

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="js/itemprofile.js"></script>
	</head>
	<body>
		<div class="headerBar primaryBg">
			<span class="backButton"><i class="fa fa-angle-left"></i> Back</span>
			<h3 id="topTitle">Umbrella</h3>
		</div>
		<div class="itemContent">
			<!-- <div class="headerImage" style="background: url('img/umbrella.jpg');">
				<h2>Umbrella</h2>
				<span class="earned">+20</span>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut ullamcorper orci. Sed pellentesque sapien ut nibh eleifend cursus.</p> -->
		</div>

		<div class="takePicButton">TAKE PICTURE<input id="pictureUpload" type="file" accept="image/*" capture="camera"></div>
	</body>
</html>