<!DOCTYPE html>
	<head>
		<title>Loco Doco</title>
		<meta name="viewport" content="width=device-width">

        <!-- Fonts  -->

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
		

        <!-- Stylesheets  -->
		
		<link rel="stylesheet" type="text/css" href="css/base.css">
		<link rel="stylesheet" type="text/css" href="css/leaderboard.css">

		<!-- Scripts  -->

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="js/leaderboard.js"></script>
	</head>
	<body>
		<div class="headerBar primaryBg">
			<h3>Leaderboard</h3>
		</div>
		<h1>Explore UW</h1>
		<span class="timer">00:10:45</span>
		<div class="leaderboard">
			<div class="rank">
				<span class="rankNum">1</span>
				<span class="teamNameCol">Team Fuccboi Live</span>
				<span class="pointCol">110</span>
			</div>
			<div class="rank">
				<span class="rankNum">2</span>
				<span class="teamNameCol">Team Fuccboi Live</span>
				<span class="pointCol">100</span>
			</div>
			<div class="rank">
				<span class="rankNum">3</span>
				<span class="teamNameCol">Team Fuccboi Live</span>
				<span class="pointCol">80</span>
			</div>
			<div class="rank">
				<span class="rankNum">4</span>
				<span class="teamNameCol">Team Fuccboi Live</span>
				<span class="pointCol">80</span>
			</div>
			<div class="rank">
				<span class="rankNum">5</span>
				<span class="teamNameCol">Team Fuccboi Live</span>
				<span class="pointCol">70</span>
			</div>
			<div class="rank">
				<span class="rankNum">6</span>
				<span class="teamNameCol">Team Fuccboi Live</span>
				<span class="pointCol">50</span>
			</div>
			<div class="rank">
				<span class="rankNum">7</span>
				<span class="teamNameCol">Team Fuccboi Live</span>
				<span class="pointCol">40</span>
			</div>
		</div>
		<div class="footerNav">
			<div id="itemListNav" class="half">
				<i class="fa fa-list"></i>
			</div>
			<div id="leaderNav" class="half active">
				<i class="fa fa-users"></i>
			</div>
		</div>
	</body>
</html>