<!DOCTYPE html>
<html>
	<head>
		<title>LocalDoco Live Feed</title>

		<meta name="viewport" content="width=device-width">

        <!-- Fonts  -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css">

		<!-- Scripts -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script type="text/javascript" src="js/feed.js"></script>

		<!-- Stylesheets -->
		<link type="text/css" rel="stylesheet" href="../css/base.css" />
		<link type="text/css" rel="stylesheet" href="css/feed.css" />
	</head>

	<body>
		<div class="headerBar primaryBg">
			<img class="topLogo" src="../img/logo.png">
		</div>

		<h2 class="huntName"></h2>



		<div id="feed"></div>

	</body>

</html>
